USE [master]
GO
/****** Object:  Database [HappyProgramming_SWP]    Script Date: 11/8/2022 11:10:02 PM ******/
CREATE DATABASE [HappyProgramming_SWP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappyProgramming_SWP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HappyProgramming_SWP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HappyProgramming_SWP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HappyProgramming_SWP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyProgramming_SWP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyProgramming_SWP]
GO
/****** Object:  Table [dbo].[MentorProfile]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorProfile](
	[mentorID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[avatar] [nvarchar](500) NOT NULL,
	[introduction] [nvarchar](500) NOT NULL,
	[LinkedIn] [nvarchar](500) NULL,
	[GitHub] [nvarchar](500) NULL,
	[Profession] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_MentorProfile] PRIMARY KEY CLUSTERED 
(
	[mentorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentorRegist]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorRegist](
	[registID] [int] NOT NULL,
	[menteeID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_MentorRegist] PRIMARY KEY CLUSTERED 
(
	[registID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentorSkill]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorSkill](
	[mentorSkillID] [int] NOT NULL,
	[mentorID] [int] NOT NULL,
	[skillID] [int] NOT NULL,
	[yearsOfExp] [int] NOT NULL,
	[description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_MentorSkill] PRIMARY KEY CLUSTERED 
(
	[mentorSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[rateID] [int] NOT NULL,
	[comment] [nvarchar](150) NOT NULL,
	[star] [int] NOT NULL,
	[menteeID] [int] NOT NULL,
	[mentorID] [int] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[rateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[requestID] [int] NOT NULL,
	[mentorID] [int] NULL,
	[menteeID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[status] [int] NOT NULL,
	[link] [nvarchar](500) NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [nvarchar](150) NOT NULL,
	[mentorStatus] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestSkill]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestSkill](
	[requestSkillID] [int] NOT NULL,
	[requestID] [int] NOT NULL,
	[skillID] [int] NOT NULL,
 CONSTRAINT [PK_RequestSkill] PRIMARY KEY CLUSTERED 
(
	[requestSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillCategory]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillCategory](
	[skillID] [int] NOT NULL,
	[skillName] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[skillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transID] [int] NOT NULL,
	[menteeID] [int] NOT NULL,
	[mentorID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[amount] [float] NOT NULL,
	[method] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/8/2022 11:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[address] [nvarchar](150) NULL,
	[status] [bit] NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Mentee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MentorProfile] ([mentorID], [userID], [avatar], [introduction], [LinkedIn], [GitHub], [Profession]) VALUES (0, 0, N'.', N'.', NULL, NULL, N'.')
INSERT [dbo].[MentorProfile] ([mentorID], [userID], [avatar], [introduction], [LinkedIn], [GitHub], [Profession]) VALUES (1, 3, N'https://scontent.fhan3-4.fna.fbcdn.net/v/t1.6435-9/69087697_1091446437723634_8598457568051855360_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=eoTbzXrNCjcAX_nIlYP&_nc_ht=scontent.fhan3-4.fna&oh=00_AfCnU_i-_ejWDPd-jDkaA0vpnHJ60RbfCEdgvZaIW7LcAg&oe=6391DB4D', N'Master of coding', N'https://www.linkedin.com/in/pham-hong-phuc-657729255/', N'https://github.com/ZellyFish18/HappyProgramming_SWP391', N'Developer')
INSERT [dbo].[MentorProfile] ([mentorID], [userID], [avatar], [introduction], [LinkedIn], [GitHub], [Profession]) VALUES (2, 2, N'https://scontent.fhan4-1.fna.fbcdn.net/v/t1.6435-9/100918565_1129332924115715_917140272641474560_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=_jVssqF5VTgAX_BFfZv&_nc_ht=scontent.fhan4-1.fna&oh=00_AfCbFnY71iZ2tXTJUUkIvJq7bkdH0mAahDaGzhVt1DogtQ&oe=639181AE', N'Fullstack Dev', NULL, NULL, N'AI Engineer')
GO
INSERT [dbo].[MentorRegist] ([registID], [menteeID], [date], [status]) VALUES (1, 7, CAST(N'2000-01-01' AS Date), 2)
INSERT [dbo].[MentorRegist] ([registID], [menteeID], [date], [status]) VALUES (2, 2, CAST(N'2022-11-06' AS Date), 2)
INSERT [dbo].[MentorRegist] ([registID], [menteeID], [date], [status]) VALUES (3, 3, CAST(N'2022-11-08' AS Date), 2)
GO
INSERT [dbo].[MentorSkill] ([mentorSkillID], [mentorID], [skillID], [yearsOfExp], [description]) VALUES (1, 1, 2, 11, N'master of java coding')
INSERT [dbo].[MentorSkill] ([mentorSkillID], [mentorID], [skillID], [yearsOfExp], [description]) VALUES (2, 1, 5, 7, N'having WED201c certificate on cousera')
INSERT [dbo].[MentorSkill] ([mentorSkillID], [mentorID], [skillID], [yearsOfExp], [description]) VALUES (3, 1, 7, 3, N'having WED201c certificate on cousera')
GO
INSERT [dbo].[Rating] ([rateID], [comment], [star], [menteeID], [mentorID]) VALUES (1, N'okay', 5, 6, 1)
INSERT [dbo].[Rating] ([rateID], [comment], [star], [menteeID], [mentorID]) VALUES (2, N'very good', 4, 6, 2)
GO
INSERT [dbo].[Request] ([requestID], [mentorID], [menteeID], [date], [status], [link], [title], [content], [mentorStatus]) VALUES (1, 1, 6, CAST(N'2022-02-10' AS Date), 2, N'abc.com', N'Please help me inprove my coding logic', N'I want a mentor who master at java so that he can help me improve my coding for my upcoming test', 3)
INSERT [dbo].[Request] ([requestID], [mentorID], [menteeID], [date], [status], [link], [title], [content], [mentorStatus]) VALUES (2, 1, 5, CAST(N'2002-10-15' AS Date), 2, N'https://meet.google.com/doe-rrwx-kmj', N'Web design', N'My designing skill is so bad, please help me improve it', 1)
INSERT [dbo].[Request] ([requestID], [mentorID], [menteeID], [date], [status], [link], [title], [content], [mentorStatus]) VALUES (3, 1, 5, CAST(N'2002-10-10' AS Date), 2, NULL, N'Check my code', N'I have some error need to be fix immediatly', 0)
GO
INSERT [dbo].[RequestSkill] ([requestSkillID], [requestID], [skillID]) VALUES (1, 2, 6)
INSERT [dbo].[RequestSkill] ([requestSkillID], [requestID], [skillID]) VALUES (2, 3, 1)
INSERT [dbo].[RequestSkill] ([requestSkillID], [requestID], [skillID]) VALUES (3, 1, 1)
GO
INSERT [dbo].[SkillCategory] ([skillID], [skillName], [status]) VALUES (1, N'C', 1)
INSERT [dbo].[SkillCategory] ([skillID], [skillName], [status]) VALUES (2, N'C++', 1)
INSERT [dbo].[SkillCategory] ([skillID], [skillName], [status]) VALUES (3, N'C#', 1)
GO
INSERT [dbo].[User] ([ID], [username], [password], [fullname], [gender], [phone], [email], [dob], [address], [status], [role]) VALUES (0, N'admin', N'', N'Admin', 1, N'1234', N'admin@gmail.com', CAST(N'2022-01-01' AS Date), N'', 0, 0)
INSERT [dbo].[User] ([ID], [username], [password], [fullname], [gender], [phone], [email], [dob], [address], [status], [role]) VALUES (1, N'phucph', N'123', N'Pham Hong Phuc', 1, N'0128376291', N'phucph@gmail.com', CAST(N'2002-12-16' AS Date), N'Hai Phong', 0, 0)
INSERT [dbo].[User] ([ID], [username], [password], [fullname], [gender], [phone], [email], [dob], [address], [status], [role]) VALUES (2, N'hieulv', N'123', N'Le Vu Hieu', 1, N'0274087394', N'hieulv@gmail.com', CAST(N'2002-01-01' AS Date), N'Ha Noi', 1, 2)
GO
ALTER TABLE [dbo].[MentorProfile]  WITH CHECK ADD  CONSTRAINT [FK_MentorProfile_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[MentorProfile] CHECK CONSTRAINT [FK_MentorProfile_userID]
GO
ALTER TABLE [dbo].[MentorRegist]  WITH CHECK ADD  CONSTRAINT [FK_MentorRegist_menteeID] FOREIGN KEY([menteeID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[MentorRegist] CHECK CONSTRAINT [FK_MentorRegist_menteeID]
GO
ALTER TABLE [dbo].[MentorSkill]  WITH CHECK ADD  CONSTRAINT [FK_MentorSkill_mentorID] FOREIGN KEY([mentorID])
REFERENCES [dbo].[MentorProfile] ([mentorID])
GO
ALTER TABLE [dbo].[MentorSkill] CHECK CONSTRAINT [FK_MentorSkill_mentorID]
GO
ALTER TABLE [dbo].[MentorSkill]  WITH CHECK ADD  CONSTRAINT [FK_MentorSkill_skillID] FOREIGN KEY([skillID])
REFERENCES [dbo].[SkillCategory] ([skillID])
GO
ALTER TABLE [dbo].[MentorSkill] CHECK CONSTRAINT [FK_MentorSkill_skillID]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_menteeID] FOREIGN KEY([menteeID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_menteeID]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_mentorID] FOREIGN KEY([mentorID])
REFERENCES [dbo].[MentorProfile] ([mentorID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_mentorID]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_menteeID] FOREIGN KEY([menteeID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_menteeID]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_mentorID] FOREIGN KEY([mentorID])
REFERENCES [dbo].[MentorProfile] ([mentorID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_mentorID]
GO
ALTER TABLE [dbo].[RequestSkill]  WITH CHECK ADD  CONSTRAINT [FK_RequestSkill_requestID] FOREIGN KEY([requestID])
REFERENCES [dbo].[Request] ([requestID])
GO
ALTER TABLE [dbo].[RequestSkill] CHECK CONSTRAINT [FK_RequestSkill_requestID]
GO
ALTER TABLE [dbo].[RequestSkill]  WITH CHECK ADD  CONSTRAINT [FK_RequestSkill_skillID] FOREIGN KEY([skillID])
REFERENCES [dbo].[SkillCategory] ([skillID])
GO
ALTER TABLE [dbo].[RequestSkill] CHECK CONSTRAINT [FK_RequestSkill_skillID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_menteeID] FOREIGN KEY([menteeID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_menteeID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_mentorID] FOREIGN KEY([mentorID])
REFERENCES [dbo].[MentorProfile] ([mentorID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_mentorID]
GO
USE [master]
GO
